S3method(plot,rfInterp)
S3method(plot,rfPred)
S3method(plot,rfThresh)
S3method(print,rfInterp)
S3method(print,rfPred)
S3method(print,rfThresh)
S3method(summary,rfPred)
S3method(xtable,rfInterp)
S3method(xtable,rfPred)
export(SummarizeContinuousDefault)
export(SummarizeFactorDefault)
export(SummarizeVar)
export(auto.layout)
export(boxcoxR)
export(chisq.post.hoc)
export(clear)
export(compute.theta)
export(contents)
export(cor2cov)
export(demographics)
export(densityPlotR)
export(ellipse)
export(excelCols)
export(excelMatch)
export(get.cols)
export(gradient.legend)
export(hash)
export(intersperse)
export(last.sample)
export(make.formula)
export(make.null)
export(make.symmetric)
export(missing.vals)
export(mv.rnorm)
export(number.to.colors)
export(par1)
export(par2)
export(plotSigBars)
export(printx)
export(prism.plots)
export(pval.xtable)
export(r)
export(r.crit)
export(random.correlation)
export(read.fife)
export(rfInterp)
export(rfPred)
export(rfSensitivity)
export(rfThresh)
export(rotateGraph)
export(roxtemp)
export(scaleB)
export(scaleBreak)
export(scaleIt)
export(spearman.plot)
export(stratified)
export(string.to.colors)
export(subsetString)
export(univariate.tests)
export(write.fife)
import(MASS)
import(party)
import(plotrix)
import(randomForest)
import(rpart)
import(xtable)
